@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;900&display=swap');


/* BODY */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family: 'Space Mono', monospace;
    font-weight: 300;
    color: #FB7813;
    background-color: #F7F7EE;
    
}

p{
font-size:1.2rem;
}

h1 {
    font-family: 'Libre Franklin', sans-serif;
    color:  #F7F7EE;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    padding: 1.5rem;
}
h2 {
   font-family: 'Space Mono', monospace;
   text-align: center;
   font-size: 1.5rem;
   padding:1.5rem;
}

/* HEADER */

header{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: flex-start;
}

header img {
    height:140px;
}
/* NAVIGATION BAR */
.navbar{
    display:flex;
    justify-content: space-around;
    padding:20px;
}

.navbar a {
    color: #17706E;
    text-decoration: none;
    padding:30px;
    font-size: 1.2rem;
    font-weight: 900;
}
.navbar a:hover{
    color: #FB7813;
}



/* CONTAINER*/
.container{
    margin: 0 40px;
    background-color:#17706E; 
    border-radius: 30px;
    padding: 40px 80px;
    min-height: calc(100vh - 260px);
  }

.container a{
        text-decoration: none;
        color:#FB7813;
        text-align: center;
    }


  .levels i{
    font-size: 8rem;
    padding: 4rem;
}

.select-level{
  display: flex;
  justify-content: space-between;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2rem;


}


.select-level div {
width: 300px;
height:300px;
background-color: #F7F7EE;
border-radius: 30px;
border: 4px solid #FB7813;
background: linear-gradient(to right, #B6EB7A,#F7F7EE , #F7F7EE, #B6EB7A);
background-size: 300% 300%;
animation: gradient 10s ease infinite;

}


@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
    }
    
    .select-level div:hover{
        animation:none;
         box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
         transform: translateY(-0.1rem);
         transition: transform 150ms;
       }
   